
body {
    background: linear-gradient(to right, #f9b4ab, #fdebd3);
}

.container {
    background-color: white;
    width: 40%;
    height: 300px;
    margin: auto;
    margin-top: 200px;
    border-radius: 10px;
    
}

.search {
    width: 70%;
    padding-top: 30px;
    margin: auto;
    display:flex;
    justify-content: space-between;

}

.content {
    width: 70%;
    margin:auto;
    text-align: left;
}

#meaning {
    padding-bottom: 30px;
}