
body {
    background: linear-gradient(to right, black, rgb(87, 80, 80));
}

.container {
    background-color: white;
    box-shadow: #ccc 0 0 10px;
    width: 70%;
    height: 70vh;
    margin: auto;
    margin-top: 15vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.search {
    width: 70%;
    padding-top: 30px;
    margin: auto;
    display:flex;
    justify-content: space-between;

}

.content {
    width: 70%;
    padding: 0 auto;
    margin:auto;
    text-align: left;
}

#meaning {
    padding-bottom: 30px;
}

#inp {
    width: 70%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 0 10px;
}

#search-btn {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

#words {
    font-size: 30px;
    font-weight: bold;
    color: green;
}

#pos {
    font-size: 20px;
    font-weight: bold;
}